.logo {
    text-align: center;
    height: 50px;
    margin: 25px 0;
    overflow: hidden;
}

.dva {
    width: 50px;
}

.title {
    vertical-align: text-bottom;
    font-size: 20px;
    text-transform: uppercase;
    display: inline;
    text-align: center;
    line-height: 50px;
    color: #999;
}

.collapsedIcon {
    font-size: 18px;
    margin-left: 6px;
}

.arrow > div:after {
    right: 8px !important;
}
