.logo {
    text-align: center;
    height: 100px;
    padding: 25px 0;
    overflow: hidden;
    cursor: pointer;
}

.dva {
    width: 50px;
}

.title {
    vertical-align: text-bottom;
    font-size: 20px;
    text-transform: uppercase;
    display: inline;
    text-align: center;
    line-height: 50px;
}

.white {
    background-color: #fff;
}

.switchtheme {
    width: 100%;
    position: absolute;
    height: 48px;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;

    :global {
      .anticon {
        min-width: 14px;
        margin-right: 8px;
        font-size: 14px;
      }
    }
}
