.header {
  height: 47px;
  padding: 0;
  padding-right: 10px;
  background: #fff;
  display: flex;
  justify-content: space-between;
}

.popovermenu {
  width: 200px;
   :global .ant-popover-inner-content {
    padding: 0;
    .ant-menu-inline .ant-menu-item,
    .ant-menu-vertical .ant-menu-item {
      border-right: 0;
      height: 48px;
      line-height: 48px;
    }
    .ant-menu-inline .ant-menu-item-selected,
    .ant-menu-inline .ant-menu-selected {
      border-right: 0;
    }
  }
}

.button {
  width: 47px;
  height: 47px;
  line-height: 47px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease-in;
  &:hover {
    color: #fff;
    background-color: fade(#108ee9, 50%);
  }
}

.right {
  display: flex;
}
