<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#8fc9fb"/>
  <link rel="manifest" href="manifest.json" />
  <link rel="Shortcut Icon" href="favicon.ico" />
  <script type="text/javascript" src="/register-service-worker.js"></script>
  <title>Dva Admin</title>
</head>

<body>
  <div id="root">loading</div>
</body>

</html>
