<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="manifest" href="manifest.json" />
  <link rel="Shortcut Icon" href="favicon.ico" />
  <title>Dva Admin</title>
</head>

<body>
  <div id="root">loading</div>
  <script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('/service-worker.js');
    }
  </script>
</body>

</html>
